body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.headContainer {
  display: flex;
  flex-direction: row;
}

.teamInfo {
  width: 33%;
  height: 200px;
}

.teamNameHeader {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 0;
}

.teamNameHeader p {
  display: inline-block;
  
}

.TeamCity, .TeamMascot{
  margin: 0;
  font-size: 50px;  
  font-weight: bolder;
}

.Division {
  background-color: rgb(1, 48, 1);
  color: azure;
  margin: 0px;
}

.teamNameHeader p {
  font-weight: bold;
}

.teamStats {
  width: 66%;
  margin: 0 0 0 5px;
}

.statsHeader {
  background-color: darkgreen;
  color: white;
  margin: 0;
  text-align: center;
}

.statsContainer {
  display: flex;
  flex-direction: row;

}

.subHead {
  background-color: lightgreen;
  margin: 0;  
  padding-left: 5px;
}

.offense {
  width: 50%;
}
.defense {
  width: 50%;  
  border-left: 2.5px solid black;
}

.scheduleMain {
  background-color: darkgreen;
  color: white;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

table {
  border: 1px solid darkgreen;
}


/* .box {
  display: flex;
  flex-direction: row;  
}

.team {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;

  background-color: green;
}


.TeamCity {
  width: 25%;
  margin: 0px;
  font-size: 60px;
  text-align: justify;
}

.TeamMascot {
  width: 25%;
  margin: 0px;
  font-size: 45px;
}

.box2 {
  display: flex;
  flex-direction: column;
  width: 66%;
  border: 1px solid black;
} */